# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Reports
report.json

# Environment variables
.env
.env.local

# Editor directories
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Test coverage
coverage/

*.py

test*.mdx
mdx_errors_report.*
links_report.*
python_scraper/
output/
images/
config.json
urls.json
docs.json
redirects.json